#table {
    background: #595C5F;
}

#triangle-right {
    width: 0;
    height: 0;
    margin: 0;
    border-top: 30px solid transparent;
    border-left: 20px solid #c8c8c8;
    border-bottom: 30px solid transparent;
    position: absolute;
    top: 30%;
    left: 27%;
}

#triangle-right:hover {
    border-top: 32px solid transparent;
    border-bottom: 32px solid transparent;
    border-left: 21px solid #28A745;
}

#triangle-left:hover {
    border-top: 32px solid transparent;
    border-bottom: 32px solid transparent;
    border-right: 21px solid #28A745;
}

#triangle-left {
    width: 0;
    height: 0;
    margin: 0;
    border-top: 30px solid transparent;
    border-right: 20px solid #c8c8c8;
    border-bottom: 30px solid transparent;
    position: absolute;
    top: 30%;
    right: 27%;
}

section {
    width: 40em;
    height: 25em;
    margin: 0 auto;
    position: relative;
    right: 2.5%;
}

section li {
    width: 500px;
    height: 281px;
    background: #333;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

section li p {
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    margin-top: 1.175em;
}

.items {
    position: absolute;
}

.main-pos {
    margin-left: 2em !important;
    z-index: 3000;
    /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
}

.left-pos {
    opacity: .3;
    margin-left: -17em !important;
    z-index: 1000;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
}

.back-pos {
    margin-left: 2em !important;
    opacity: .05;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5);
}

.right-pos {
    opacity: .3;
    margin-left: 21em !important;
    z-index: 1000;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
}

section span {
    position: relative;
    margin: 0 auto;
    left: 17em;
    top: 20em;
}